services:
  proxy:
    container_name: proxy
    build:
      context: ./containers/proxy
    ports: ["8443:443"]
    env_file:
      - .env
    networks:
      - camagru_network
    depends_on:
      - frontend
      - backend
  
  vault:
    container_name: vault
    build:
      context: ./containers/vault
    ports: ["8200:8200"]
    healthcheck:
      test: ["CMD", "curl", "-k", "http://localhost:8200/v1/sys/health"]
      interval: 5s
      timeout: 3s
      retries: 10
    env_file:
      - .env
    networks:
      - camagru_network

  frontend:
    container_name: frontend
    build:
      context: ./containers/frontend
    ports: ["5000:5000"]
    env_file:
      - .env
    networks:
      - camagru_network
    depends_on:
      - backend

  backend:
    container_name: backend
    build:
      context: ./containers/backend
    ports: ["3000:3000"]
    env_file:
      - .env
    networks:
      - camagru_network
    depends_on:
      vault:
        condition: service_healthy
  
  database:
    container_name: mariadb
    build:
      context: ./containers/database
    ports: ["3300:3300"]
    env_file:
      - .env
    networks:
      - camagru_network

networks:
  camagru_network:
    driver: bridge