services:
  proxy:
    container_name: proxy
    build:
      context: ./containers/proxy
    ports: ["8443:443"]
    env_file:
      - .env
    networks:
      - camagru_network
    depends_on:
      - frontend
      - backend
  
  frontend:
    container_name: frontend
    build:
      context: ./containers/frontend
    ports: ["5000:5000"]
    env_file:
      - .env
    networks:
      - camagru_network
    depends_on:
      - backend

  backend:
    container_name: backend
    build:
      context: ./containers/backend
    ports: ["3000:3000"]
    env_file:
      - .env
    networks:
      - camagru_network

networks:
  camagru_network:
    driver: bridge