.top {
    background-color: #FFC200;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

@font-face {
    font-family: "Action Man";
    src: url("./fonts/Action_Man_Bold.ttf") format("truetype");
}

.title {
    color: white;
    font-size: 120px;
    border-color: black;
    font-family: "Action Man";
}