.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1000px;
}

.top {
    background-color: #FFC200;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

@font-face {
    font-family: "Action Man";
    src: url("./fonts/Action_Man_Bold.ttf") format("truetype");
}

.title {
    color: white;
    font-size: 120px;
    border-color: black;
    font-family: "Action Man";
}

.main {
    display: flex;
    background-color: #F7F0F0;
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.div-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    color: #FFC200;
    font-family: "Action Man";
    font-size: 100px;
}

.login-instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    color: #878787;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: #878787 0px 8px 16px;
}