.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1000px;
}

.top {
    background-color: #FFC200;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

@font-face {
    font-family: "Action Man";
    src: url("./fonts/Action_Man_Bold.ttf") format("truetype");
}

.title {
    color: white;
    font-size: 120px;
    border-color: black;
    font-family: "Action Man";
}

.main {
    display: flex;
    background-color: #F7F0F0;
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.button {
    transition: 0.2s ease;
    cursor: pointer;
}

.button:hover {
    filter: brightness(1.15);
}

.button:active {
    transform: scale(0.95);
    filter: brightness(0.85);
}

.div-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    color: #FFC200;
    font-family: "Action Man";
    font-size: 100px;
    margin-left: 190px;
}

.login-instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    color: #878787;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 190px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
    box-shadow: #878787 0px 8px 16px;
    margin-right: 221px;
}

.login-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin-top: 46px;
    padding: 15px;
    border: 2px solid #B0B0B0;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 27px;
    margin-bottom: 10px;
}

.login-button {
    background-color: #FFC200;
    color: white;
    justify-content: center;
    width: 80%;
    border: none;
    border-radius: 6px;
    line-height: 58px;
    font-size: 21px;
    font-weight: 750;
    margin-top: 15px;
}

.login-createaccount-button {
    background-color: #3CF03C;
    color: white;
    border: none;
    width: 80%;
    font-size: 21px;
    font-weight: 750;
    margin-bottom: 23px;
    line-height: 58px;
    border-radius: 6px;

}

.login-forgotpassword {
    margin-bottom: 18px;
    color: #2111a0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

.register-button {
    background-color: #3CF03C;
    color: white;
    border: none;
    width: 50%;
    font-size: 21px;
    font-weight: 750;
    margin-bottom: 23px;
    line-height: 58px;
    border-radius: 6px;
}

.register-goback-button
{
    background-image: url('./images/goBack.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-color: black;
    border-width: 3px;
    width: 58px;
    height: 58px;
    margin-bottom: 23px;
    margin-right: 20px;
    line-height: 58px;
    border-radius: 6px;
}